@import "tailwindcss";


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.css-ptck8z-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.MuiPaginationItem-page.css-2ge3ma {
  color: #fff;
  background: rgba(0, 0, 0, 0.09) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid #333;
}

.css-ptck8z-MuiButtonBase-root-MuiPaginationItem-root,
.MuiPaginationItem-previousNext.css-2ge3ma {
  background-color: #fff !important;
  color: #000;

}

.css-2ge3ma.Mui-selected {
  background-color: #fff !important;
  color: #000;
  transition: .1s;

}

.MuiPaginationItem-previousNext.css-2ge3ma:hover,
.MuiPaginationItem-page.css-2ge3ma:hover,
.css-2ge3ma.Mui-selected:hover {
  scale: 1.1;
}

.MuiPaginationItem-page.css-2ge3ma:hover {
  background-color: #1D183A !important;
  color: #fff;
}

.MuiPaginationItem-ellipsis.css-btxnvc-MuiPaginationItem-root {
  cursor: default;
  user-select: none;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-240cud.ant-modal .ant-modal-header,
.css-240cud.ant-modal .ant-modal-content,
:where(.css-dev-only-do-not-override-240cud).ant-modal .ant-modal-content,
:where(.css-dev-only-do-not-override-240cud).ant-modal .ant-modal-header {
  background-color: #1b1b1e;
}

.css-240cud.ant-modal .ant-modal-title,
:where(.css-dev-only-do-not-override-240cud).ant-modal .ant-modal-title {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #333 !important;
  position: relative;
}

.css-240cud.ant-modal.live .ant-modal-title::after,
:where(.css-dev-only-do-not-override-240cud).ant-modal.live .ant-modal-title::after {
  content: "";
  text-align: center;
  font-size: 8px;
  height: 6px;
  width: 6px;
  transform: translateX(4px);
  padding: 1px 3px;
  top: 2px;
  border-radius: 2px;
  background-color: red;
  position: absolute;
}

svg[data-icon="close"] {
  color: #fff;
}

@keyframes example {
  0% {
    scale: .9
  }

  50% {
    scale: 1;
  }

  100% {
    scale: .9;
  }
}

#start-btn {
  box-shadow: 0px 0px 3px #fff;
  cursor: pointer;
  scale: 1;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.glass-effect {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid #333;
}

#search-input::placeholder {
  color: #000;
  font-weight: 500;
}

.ant-drawer-header {
  border-bottom: 1px solid #333 !important;
}


.ant-modal.css-240cud.history-modal,
:where(.css-dev-only-do-not-override-240cud).ant-modal.history-modal {
  color: #fff;
}


.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.css-240cud.ant-collapse>.ant-collapse-item>.ant-collapse-header,
:where(.css-dev-only-do-not-override-240cud).ant-collapse>.ant-collapse-item>.ant-collapse-header {
  color: #fff;
}

.css-240cud.ant-collapse .ant-collapse-content,
:where(.css-dev-only-do-not-override-240cud).ant-collapse .ant-collapse-content {
  color: #fff;
}

.css-240cud.ant-popover .ant-popover-inner,
:where(.css-dev-only-do-not-override-240cud).ant-popover .ant-popover-inner {
  background-color: #1b1b1e;
  color: #fff;
}
.css-240cud.ant-popover .ant-popover-inner-content,
:where(.css-dev-only-do-not-override-240cud).ant-popover .ant-popover-inner-content,
.css-240cud.ant-popover .ant-popover-title,
:where(.css-dev-only-do-not-override-240cud).ant-popover .ant-popover-title{
  color: #fff !important;
}


.css-240cud.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector,
:where(.css-dev-only-do-not-override-240cud).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  background-color: transparent;
  color: #fff;
}

.css-240cud.ant-select-single.ant-select-open .ant-select-selection-item,
:where(.css-dev-only-do-not-override-240cud).ant-select-single.ant-select-open .ant-select-selection-item{
  color: #fff;
}

.css-240cud.ant-select-dropdown .ant-select-item,
:where(.css-dev-only-do-not-override-240cud).ant-select-dropdown .ant-select-item{
  background-color: transparent;
}

.parameter :where(.css-dev-only-do-not-override-240cud).ant-row,
.parameter .css-240cud.ant-row{
  flex-direction: column;
}

.css-240cud.ant-form-item .ant-form-item-label >label ,
:where(.css-dev-only-do-not-override-240cud).ant-form-item .ant-form-item-label >label {
  color: #fff;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}

.parameter .css-240cud.ant-input-outlined,
.parameter :where(.css-dev-only-do-not-override-240cud).ant-input-outlined,
.parameter .css-240cud.ant-input-number-outlined,
.parameter :where(.css-dev-only-do-not-override-240cud).ant-input-number-outlined{
  background-color: transparent !important;
  color:  #FFF;
  width: 100%;
}
:where(.css-dev-only-do-not-override-240cud).ant-input-number .ant-input-number-input
{
  color: #fff;
}
.parameter{
  margin-bottom: 0px !important;
}